@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
#body1{
    margin : 0;
    padding: 0;
}
#logo {
    width: 200px;
    height:80px;
    font-size: 2.5rem;
}
nav{
    width: 100%;
    overflow: auto;
}
ul{
    padding: 0;
    margin: 0 0 0 50px;
    list-style: none;
}
li{
    float: left;
}
.body1 img {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}
nav a {
    width: 300px;
    display: block;
    padding: 20px 20px 20px 450px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size:50px;
    color: #2F4454;
    text-align: center;
}
#main1 {
    font-family: 'Poppins', sans-serif;
    color: #2F4454/*rgb(116, 7, 7)*/;
    padding-left: 600px;
    padding-top: 2px;
}
header h1 {
    color: rgb(71, 228, 14);
    font-size: 3rem;
    font-weight: 800;
}
*{
    box-sizing: border-box;
}
/*---------------------------------------------------------------------------------------------------------------*/
:root{                             /*root scope contains both primary and secondary colour*/
    /* --primary-color:#2E151B;
    --primary-color: #131313;
    --secondary-color: #000000; */
    --primary-color:#000c18;
    --secondary-color: #001d38;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


header{
    padding:1rem;       /*for space*/
    display:flex;       /*so that every thing is in a row*/
    justify-content: flex-end;    /*to search bar at the end*/  
    background-color: var(--secondary-color);
}

.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);  /*border is of primary colour*/
    padding:0.5rem 1rem;    /*size of the search bar*/
    border-radius: 50px;    /*to make borders circular*/
    font-size: 1rem;   /*to increase the length of search bar*/
    color:#fff;     /*font colour*/
    font-family: inherit;   /*it will receive the body's font family*/
}

.search:focus{      /*when searchbar is in focus*/
    outline:0;      /*it will remove the outline when we click the searchbar*/
    background-color: var(--primary-color);   /*shows primary colour when we click on searchbar*/
}

.search::placeholder{
    color: rgb(66, 65, 65);  /*colour of the word search*/
}

main{    /*not using . because there is no class called main*/
    display:flex;    /*to allign every image in a row*/
    flex-wrap: wrap;  /*to send images in next line*/
    justify-content: center;   /*to place all the images in center*/
}

.movie {
    width: 300px;    /*to make the cards smaller*/
    margin: 1rem;      /*to create spaces between two cards*/
    border-radius: 3px;    /*to make card bit rounded*/
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);   /*for shadow effect under the card*/
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
}

.movie img{
    width:100%;  /*images which are showing in the sceen with respect to black background*/
}

.movie-info{
    color:#eee;  /*colour of name of movie*/
    display: flex;   /*to make name and rating of the movie in a row */ 
    align-items: center;
    justify-content: space-between;  /*to create space between name and rating*/
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{     /*it will reduce the size of the black card */
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);  /*background colour of the rating */
    padding: 0.25rem 0.5rem;   /*increase size*/
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{ 
    color:lightgreen;   /*when the class is green then the rating colour will be green*/
}

.movie-info span.orange{
    color:orange;
}

.movie-info span.red{
    color:red;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    color:white;
    color:#d2e9ff;
    background-color: #ffffff;  /*bg colour of overview*/
    background-color: #001d38;  /*bg colour of overview*/
    padding: 1rem;           
    max-height: 100%;        /*100% means height of card*/
    transform:translateY(101%);   /*to push it down 101%*/
    transition:transform 0.3s ease-in;   /*to create transition*/
}

.movie:hover .overview{    /*when we will put our cursor on it, then it will go up*/
    transform:translateY(0)
}
/*---------------------------------------------------------------------------------------------------*/
#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;    /*to print some genres in the next line*/
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.tag{
    color:white;           /*font colour white */
    padding:10px 20px;
    background-color: #1C3334;

    border-radius: 50px;
    margin:5px;            /*to separate every tag*/
    display:inline-block;  /*to display the item horizontally instead of vertically*/
    cursor: pointer;
}
.tag.highlight{
    background-color: #376E6F;    /*when we will click the tag, colour will be changed*/
}
.no-results{
    color:white;
}

.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
}

.page{
    padding:20px;
    cursor:pointer;
}

.page.disabled{         
    cursor:not-allowed;  /*to disable cursor for the first page*/
    color:grey;
}

.current{
    padding: 10px 20px;     /*to create distance between previous page and next page*/
    border-radius: 50%;     /*to make circle outside page number*/
    border: 5px solid orange;
    font-size: 20px; 
    font-weight: 600;
}

.know-more{
    background-color: orange;
    color:white;
    /* color: black; */
    font-size: 16px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 5px;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
  .embed.hide{
      display: none;
  }

  .embed.show{
      display: inline-block;
  }

  .arrow{
      position: absolute;
      font-size: 40px;
  }

  .arrow.left-arrow{
      top:50%;
      left:5%;
      transform: translateY(-50%);
  }

  
  .arrow.right-arrow{
    top:50%;
    transform: translateY(-50%);
    right:5%;
}

.dots{
    margin-top: 30px;
}

.dots .dot {
    padding: 5px 15px;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}

.dots .dot.active{
    border-color: orange;
}
